body
	{
		background:#F2DBAE; /*#ddeeff*/
		margin:0;
		font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	}
/****Сторінка авторизації****/
.page_title
	{
		text-align:center;
		font-size:35px;
	}
.button
	{
		width:200px;
		border:1px solid #993300;
		text-align:center;
		background:#BF532C;
		padding:5px 0px;
		cursor:pointer;
		margin:10px;
		border-radius:5px;
		color:#ffffff;
		font-weight:bold;
	}
.button:hover
	{
		background:#dd7744;
	}
#author_pos
	{
		margin:auto;
		width:100%;
	}
#author
	{
		margin:50px auto;
		width:340px;
		border:1px solid #993300;
		border-radius:5px;
		padding:10px;
		background:#BF532C;
	}
#author table
	{
		text-align:left;
		color:#ffffff;
		margin:auto;
	}
.submit
	{
		text-align:center;
	}
.error
	{
		border:2px solid #ff6600;
		color:#ff6600;
		text-align:center;
		padding:5px;
		font-weight:bold;
		background:#ffffff;
	}
/***Кінець сторінки авторизації***/
/**Основна сторінка*/
#page
	{
		margin:auto;
		width:90%;
		height:95%;
		position:relative;
		max-width:1050px;
	}
#left_menu
	{
		width:160px;
		height:calc(100% - 44px);
		position:absolute;
		top:44px;
		left:0;
	}
#left_menu div
	{
		margin:2px 0;
		padding:4px;
		display:block;
		width:calc(100% - 8px);
		cursor:pointer;
		color:#BF532C;
		font-size:13px;
	}
#left_menu div:hover
	{
		background:rgba(191, 83, 44, 0.1);
	}
#top_menu
	{
		width:100%;
		height:40px;
		position:relative;
		border:1px solid #ba7055;
		background:#BF532C;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
	}
#top_menu ul
	{
		margin:0;
		position:absolute;
		top:0;
		right:0;
	}
#top_menu ul li
	{
		display: inline;
		text-align:center;
		padding:15px 10px;
		cursor:pointer;
		margin:0 2px;
		color:#ffffff;
		font-weight:bold;
		font-size:11px;
		line-height:40px;
	}
#top_menu ul li:hover
	{
		background:rgba(133, 59, 32, 0.2);
	}
#logo
	{
		background:url(favicon.png);
		background-repeat: no-repeat;
		background-size: 100% 90%;
		background-position:center center;
		width:40px;
		height:40px;
		position:absolute;
		top:0;
		left:5px;
	}
#data
	{
		width:calc(100% - 185px);
		height:calc(100% - 64px);
		position:absolute;
		top:44px;
		right:0;
		margin:0;
		overflow-y:scroll;
		border-left:1px solid rgba(191, 83, 44, 0.3);
		padding:10px;
	}

/***Кінець основної сторінки***/
/****Сторінка інформації*****/
#data table
	{
		width:100%;
	}
#data table td
	{
		vertical-align: top;
	}
#photo
	{
		width:120px;
		border:1px solid #BF532C;
		margin:0 5px 5px 0;
	}
.data_container
	{
		width:100%;
		margin:5px 0;
	}
.data_container h4
	{
		color:#BF532C;
		font-size:11px;
		height:6px;
		border-bottom:1px solid rgba(191, 83, 44, 0.3);
	}
.data_container h4 b
	{
		background:#F2DBAE;
		padding:5px;
	}
.data_container table
	{
		font-size:13px;
		width:100%;
		margin:15px 0;
	}
.data_name
	{
		color:#777;
		min-width:120px;
	}
.data_text
	{
		color:#BF532C;
	}
.data_more
	{
		text-align:center;
		color:#777;
	}
.data_more:hover
	{
		background:rgba(191, 83, 44, 0.1);
		cursor:pointer;
	}
.data_container a
	{
		text-decoration: blink;
		color:#BF532C;
	}
.data_container a:hover
	{
		text-decoration:underline;
	}
/*****Кінець сторінки інформації*****/
/*******Початок сторінки табличного списку*********/
#table_list
	{
		border:1px solid rgba(191, 83, 44, 0.3);
		border-spacing:0;
    border-collapse:collapse;
	}
#table_list td
	{
		border:1px solid rgba(191, 83, 44, 0.3);
		padding:5px 10px;
	}
#table_title
	{
		font-size:13px;
		color:#777;
		text-align:center;
	}
.table_data
	{
		font-size:13px;
		color:#BF532C;
		text-align:left;
	}
.old
	{
		color:#777;
	}
/*******Кінець сторінки табличного списку*********/

#dialogform
	{
		height:auto;
		overflow:hidden;
		background:#BF532C;
		border:1px solid #993300;
		margin:auto;
		width:80%;
		min-width:450px;
		max-width:620px;
		padding:10px;
	}
#dialogform table
	{
		text-align:center;
		color:#ffffff;
		margin:auto;
	}
@media print {
	.top_menu
		{
			display:none;
		}
}
